# Mixed Logit with correlations

Using swissmetro data, comparing results to biogeme (Bierlaire, M. (2018). PandasBiogeme: a short introduction. EPFL (Transport and Mobility Laboratory, ENAC))

In [10]:
print(1)

1

In [11]:
import pandas as pd
import numpy as np
import jax

from jaxlogit.mixed_logit import MixedLogit, ConfigData

In [12]:
#  64bit precision
jax.config.update("jax_enable_x64", True)

## Swissmetro Dataset


The swissmetro dataset contains stated-preferences for three alternative transportation modes that include car, train and a newly introduced mode: the swissmetro. This dataset is commonly used for estimation examples with the `Biogeme` and `PyLogit` packages. The dataset is available at http://transp-or.epfl.ch/data/swissmetro.dat and [Bierlaire et. al., (2001)](https://transp-or.epfl.ch/documents/proceedings/BierAxhaAbay01.pdf) provides a detailed discussion of the data as wells as its context and collection process. The explanatory variables in this example include the travel time (`TT`) and cost `CO` for each of the three alternative modes.

### Read data

The dataset is imported to the Python environment using `pandas`. Then, two types of samples, ones with a trip purpose different to commute or business and ones with an unknown choice, are filtered out. The original dataset contains 10,729 records, but after filtering, 6,768 records remain for following analysis. Finally, a new column that uniquely identifies each sample is added to the dataframe and the `CHOICE` column, which originally contains a numerical coding of the choices, is mapped to a description that is consistent with the alternatives in the column names.

In [13]:
df_wide = pd.read_table("http://transp-or.epfl.ch/data/swissmetro.dat", sep='\t')

# Keep only observations for commute and business purposes that contain known choices
df_wide = df_wide[(df_wide['PURPOSE'].isin([1, 3]) & (df_wide['CHOICE'] != 0))]

df_wide['custom_id'] = np.arange(len(df_wide))  # Add unique identifier
df_wide['CHOICE'] = df_wide['CHOICE'].map({1: 'TRAIN', 2:'SM', 3: 'CAR'})
df_wide

,GROUP,SURVEY,SP,ID,PURPOSE,FIRST,TICKET,WHO,LUGGAGE,AGE,...,TRAIN_CO,TRAIN_HE,SM_TT,SM_CO,SM_HE,SM_SEATS,CAR_TT,CAR_CO,CHOICE,custom_id
0,2,0,1,1,1,0,1,1,0,3,...,48,120,63,52,20,0,117,65,SM,0
1,2,0,1,1,1,0,1,1,0,3,...,48,30,60,49,10,0,117,84,SM,1
2,2,0,1,1,1,0,1,1,0,3,...,48,60,67,58,30,0,117,52,SM,2
3,2,0,1,1,1,0,1,1,0,3,...,40,30,63,52,20,0,72,52,SM,3
4,2,0,1,1,1,0,1,1,0,3,...,36,60,63,42,20,0,90,84,SM,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8446,3,1,1,939,3,1,7,3,1,5,...,13,30,50,17,30,0,130,64,TRAIN,6763
8447,3,1,1,939,3,1,7,3,1,5,...,12,30,53,16,10,0,80,80,TRAIN,6764
8448,3,1,1,939,3,1,7,3,1,5,...,16,60,50,16,20,0,80,64,TRAIN,6765
8449,3,1,1,939,3,1,7,3,1,5,...,16,30,53,17,30,0,80,104,TRAIN,6766
8450,3,1,1,939,3,1,7,3,1,5,...,13,60,53,21,30,0,100,80,TRAIN,6767

### Reshape data

The imported dataframe is in wide format, and it needs to be reshaped to long format for processing by `xlogit`, which offers the convenient `wide_to_long` utility for this reshaping process. The user needs to specify the column that uniquely identifies each sample, the names of the alternatives, the columns that vary across alternatives, and whether the alternative names are a prefix or suffix of the column names. Additionally, the user can specify a value (`empty_val`) to be used by default when an alternative is not available for a certain variable. Additional usage examples for the `wide_to_long` function are available in xlogit's documentation at https://xlogit.readthedocs.io/en/latest/notebooks/convert_data_wide_to_long.html. Also, details about the function parameters are available at the [API reference ](https://xlogit.readthedocs.io/en/latest/api/utils.html#xlogit.utils.wide_to_long).

In [14]:
from jaxlogit.utils import wide_to_long

df = wide_to_long(df_wide, id_col='custom_id', alt_name='alt', sep='_',
                  alt_list=['TRAIN', 'SM', 'CAR'], empty_val=0,
                  varying=['TT', 'CO', 'HE', 'AV', 'SEATS'], alt_is_prefix=True)
df

,custom_id,alt,TT,CO,HE,AV,SEATS,GROUP,SURVEY,SP,...,TICKET,WHO,LUGGAGE,AGE,MALE,INCOME,GA,ORIGIN,DEST,CHOICE
0,0,TRAIN,112,48,120,1,0,2,0,1,...,1,1,0,3,0,2,0,2,1,SM
1,0,SM,63,52,20,1,0,2,0,1,...,1,1,0,3,0,2,0,2,1,SM
2,0,CAR,117,65,0,1,0,2,0,1,...,1,1,0,3,0,2,0,2,1,SM
3,1,TRAIN,103,48,30,1,0,2,0,1,...,1,1,0,3,0,2,0,2,1,SM
4,1,SM,60,49,10,1,0,2,0,1,...,1,1,0,3,0,2,0,2,1,SM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20299,6766,SM,53,17,30,1,0,3,1,1,...,7,3,1,5,1,2,0,1,2,TRAIN
20300,6766,CAR,80,104,0,1,0,3,1,1,...,7,3,1,5,1,2,0,1,2,TRAIN
20301,6767,TRAIN,108,13,60,1,0,3,1,1,...,7,3,1,5,1,2,0,1,2,TRAIN
20302,6767,SM,53,21,30,1,0,3,1,1,...,7,3,1,5,1,2,0,1,2,TRAIN
20303,6767,CAR,100,80,0,1,0,3,1,1,...,7,3,1,5,1,2,0,1,2,TRAIN

### Create model specification

Following the reshaping, users can create or update the dataset's columns in order to accommodate their model specification needs, if necessary. The code below shows how the columns `ASC_TRAIN` and `ASC_CAR` were created to incorporate alternative-specific constants in the model. In addition, the example illustrates an effective way of establishing variable interactions (e.g., trip costs for commuters with an annual pass) by updating existing columns conditional on values of other columns. Although apparently simple, column operations provide users with an intuitive and highly-flexible mechanism to incorporate model specification aspects, such as variable transformations, interactions, and alternative specific coefficients and constants. By operating the dataframe columns, any utility specification can be accommodated in `xlogit`. As shown in [this specification example](https://xlogit.readthedocs.io/en/latest/notebooks/multinomial_model.html#Create-model-specification), highly-flexible utility specifications can be modeled in `xlogit` by operating the dataframe columns.

In [15]:
df['ASC_TRAIN'] = np.ones(len(df))*(df['alt'] == 'TRAIN')
df['ASC_CAR'] = np.ones(len(df))*(df['alt'] == 'CAR')
df['TT'], df['CO'] = df['TT']/100, df['CO']/100  # Scale variables
annual_pass = (df['GA'] == 1) & (df['alt'].isin(['TRAIN', 'SM']))
df.loc[annual_pass, 'CO'] = 0  # Cost zero for pass holders

### Estimate model parameters

The `fit` method estimates the model by taking as input the data from the previous step along with additional specification criteria, such as the distribution of the random parameters (`randvars`), the number of random draws (`n_draws`), and the availability of alternatives for the choice situations (`avail`). We set the optimization method as `L-BFGS-B` as this is a robust routine that usually helps solve convergence issues.  Once the estimation routine is completed, the `summary` method can be used to display the estimation results.

In [ ]:
varnames=['ASC_CAR', 'ASC_TRAIN', 'CO', 'TT']
model = MixedLogit()

config = ConfigData(
    n_draws=1500, 
    avail=(df['AV']),
    panels=(df["ID"]),
)

res = model.fit(
    df[varnames],
    df['CHOICE'],
    varnames,
    df['alt'],
    df['custom_id'],
    {'TT': 'n'},
    config
)
model.summary()

ValueError: maximum supported dimension for an ndarray is currently 64, found 20304

## Example of fixing parameters

In [ ]:
# we left this one out before, let's add it and assert parameters to 0
df['ASC_SM'] = np.ones(len(df))*(df['alt'] == 'SM')

In [ ]:
varnames=['ASC_CAR', 'ASC_TRAIN', 'ASC_SM', 'CO', 'TT']
fixedvars = {'ASC_SM': 0.0}  # Fixing parameters
model = MixedLogit()
res = model.fit(
    X=df[varnames],
    y=df['CHOICE'],
    varnames=varnames,
    alts=df['alt'],
    ids=df['custom_id'],
    avail=df['AV'],
    panels=df["ID"],
    randvars={'TT': 'n'},
    n_draws=1500,
    fixedvars=fixedvars
)
model.summary()

2025-07-14 00:28:51,389 INFO jaxlogit.mixed_logit: Starting data preparation, including generation of 1500 random draws for each random variable and observation.

2025-07-14 00:28:52,772 INFO jaxlogit.mixed_logit: Data contains 752 panels, using segment_sum for panel-wise log-likelihood.
2025-07-14 00:28:52,773 INFO jaxlogit.mixed_logit: Shape of draws: (6768, 1, 1500), number of draws: 1500
2025-07-14 00:28:52,774 INFO jaxlogit.mixed_logit: Shape of Xdf: (6768, 2, 4), shape of Xdr: (6768, 2, 1)
2025-07-14 00:28:52,775 INFO jaxlogit.mixed_logit: Compiling log-likelihood function.
2025-07-14 00:28:53,066 INFO jaxlogit.mixed_logit: Compilation finished, init neg_loglike = 6260.71, params= [(np.str_('ASC_CAR'), Array(0.1, dtype=float64)), (np.str_('ASC_TRAIN'), Array(0.1, dtype=float64)), (np.str_('ASC_SM'), Array(0., dtype=float64)), (np.str_('CO'), Array(0.1, dtype=float64)), (np.str_('TT'), Array(0.1, dtype=float64)), (np.str_('sd.TT'), Array(0.1, dtype=float64))]
2025-07-14 00:28:53,067 INFO jaxlogit._optimize: Running minimization with method trust-region

Loss on this step: 6260.709404860119, Loss on the last accepted step: 0.0, Step size: 1.0
Loss on this step: 205471.97895501574, Loss on the last accepted step: 6260.709404860119, Step size: 0.25
Loss on this step: 123910.46308477379, Loss on the last accepted step: 6260.709404860119, Step size: 0.0625
Loss on this step: 45412.46942728786, Loss on the last accepted step: 6260.709404860119, Step size: 0.015625
Loss on this step: 13605.640755086313, Loss on the last accepted step: 6260.709404860119, Step size: 0.00390625
Loss on this step: 5957.889047455692, Loss on the last accepted step: 6260.709404860119, Step size: 0.00390625
Loss on this step: 4662.3115816798545, Loss on the last accepted step: 5957.889047455692, Step size: 0.00390625
Loss on this step: 4515.0650097510315, Loss on the last accepted step: 4662.3115816798545, Step size: 0.00390625
Loss on this step: 4418.413802576896, Loss on the last accepted step: 4515.0650097510315, Step size: 0.00390625
Loss on this step: 4389.3841109539435, Loss on the last accepted step: 4418.413802576896, Step size: 0.00390625
Loss on this step: 4377.098985190866, Loss on the last accepted step: 4389.3841109539435, Step size: 0.00390625
Loss on this step: 4373.926044373106, Loss on the last accepted step: 4377.098985190866, Step size: 0.00390625
Loss on this step: 4371.779481785484, Loss on the last accepted step: 4373.926044373106, Step size: 0.013671875
Loss on this step: 4366.492515493317, Loss on the last accepted step: 4371.779481785484, Step size: 0.0478515625
Loss on this step: 4360.161373732614, Loss on the last accepted step: 4366.492515493317, Step size: 0.0478515625
Loss on this step: 4362.0337816061065, Loss on the last accepted step: 4360.161373732614, Step size: 0.011962890625
Loss on this step: 4359.670984722539, Loss on the last accepted step: 4360.161373732614, Step size: 0.011962890625
Loss on this step: 4359.520816715871, Loss on the last accepted step: 4359.670984722539, Step size: 0.011962890625
Loss on this step: 4359.383365221588, Loss on the last accepted step: 4359.520816715871, Step size: 0.011962890625
Loss on this step: 4359.34074402568, Loss on the last accepted step: 4359.383365221588, Step size: 0.011962890625
Loss on this step: 4359.308053058354, Loss on the last accepted step: 4359.34074402568, Step size: 0.011962890625
Loss on this step: 4359.2915105652755, Loss on the last accepted step: 4359.308053058354, Step size: 0.011962890625
Loss on this step: 4359.276723927937, Loss on the last accepted step: 4359.2915105652755, Step size: 0.011962890625
Loss on this step: 4359.2672176232345, Loss on the last accepted step: 4359.276723927937, Step size: 0.011962890625
Loss on this step: 4359.259123856866, Loss on the last accepted step: 4359.2672176232345, Step size: 0.011962890625
Loss on this step: 4359.252466426082, Loss on the last accepted step: 4359.259123856866, Step size: 0.011962890625
Loss on this step: 4359.246705654759, Loss on the last accepted step: 4359.252466426082, Step size: 0.011962890625
Loss on this step: 4359.242234524502, Loss on the last accepted step: 4359.246705654759, Step size: 0.011962890625
Loss on this step: 4359.238538729163, Loss on the last accepted step: 4359.242234524502, Step size: 0.011962890625
Loss on this step: 4359.235563628431, Loss on the last accepted step: 4359.238538729163, Step size: 0.011962890625
Loss on this step: 4359.233015296204, Loss on the last accepted step: 4359.235563628431, Step size: 0.011962890625
Loss on this step: 4359.2309310802575, Loss on the last accepted step: 4359.233015296204, Step size: 0.011962890625
Loss on this step: 4359.229157559059, Loss on the last accepted step: 4359.2309310802575, Step size: 0.011962890625
Loss on this step: 4359.227697662638, Loss on the last accepted step: 4359.229157559059, Step size: 0.011962890625
Loss on this step: 4359.226439530055, Loss on the last accepted step: 4359.227697662638, Step size: 0.011962890625
Loss on this step: 4359.2253903922765, Loss on the last accepted step: 4359.226439530055, Step size: 0.011962890625
Loss on this step: 4359.224480539513, Loss on the last accepted step: 4359.2253903922765, Step size: 0.011962890625
Loss on this step: 4359.223697755336, Loss on the last accepted step: 4359.224480539513, Step size: 0.011962890625
Loss on this step: 4359.22301731122, Loss on the last accepted step: 4359.223697755336, Step size: 0.011962890625
Loss on this step: 4359.2224251944235, Loss on the last accepted step: 4359.22301731122, Step size: 0.011962890625
Loss on this step: 4359.221909899941, Loss on the last accepted step: 4359.2224251944235, Step size: 0.011962890625
Loss on this step: 4359.221461800152, Loss on the last accepted step: 4359.221909899941, Step size: 0.011962890625
Loss on this step: 4359.221073190443, Loss on the last accepted step: 4359.221461800152, Step size: 0.011962890625
Loss on this step: 4359.220738093535, Loss on the last accepted step: 4359.221073190443, Step size: 0.011962890625
Loss on this step: 4359.2204528006605, Loss on the last accepted step: 4359.220738093535, Step size: 0.011962890625
Loss on this step: 4359.220216767542, Loss on the last accepted step: 4359.2204528006605, Step size: 0.011962890625
Loss on this step: 4359.220034326254, Loss on the last accepted step: 4359.220216767542, Step size: 0.0418701171875
Loss on this step: 4359.219642556484, Loss on the last accepted step: 4359.220034326254, Step size: 0.14654541015625
Loss on this step: 4359.219276889609, Loss on the last accepted step: 4359.219642556484, Step size: 0.512908935546875
Loss on this step: 4359.218748627566, Loss on the last accepted step: 4359.219276889609, Step size: 0.512908935546875
Loss on this step: 4359.2330744781075, Loss on the last accepted step: 4359.218748627566, Step size: 0.12822723388671875
Loss on this step: 4359.218710219622, Loss on the last accepted step: 4359.218748627566, Step size: 0.12822723388671875
Loss on this step: 4359.224276517987, Loss on the last accepted step: 4359.218710219622, Step size: 0.03205680847167969
Loss on this step: 4359.218475291209, Loss on the last accepted step: 4359.218710219622, Step size: 0.03205680847167969
Loss on this step: 4359.218340696849, Loss on the last accepted step: 4359.218475291209, Step size: 0.03205680847167969
Loss on this step: 4359.218265088024, Loss on the last accepted step: 4359.218340696849, Step size: 0.03205680847167969
Loss on this step: 4359.218254357514, Loss on the last accepted step: 4359.218265088024, Step size: 0.03205680847167969
Loss on this step: 4359.218233036162, Loss on the last accepted step: 4359.218254357514, Step size: 0.03205680847167969
Loss on this step: 4359.2182316339, Loss on the last accepted step: 4359.218233036162, Step size: 0.03205680847167969
Loss on this step: 4359.218231000705, Loss on the last accepted step: 4359.2182316339, Step size: 0.03205680847167969
Loss on this step: 4359.2182308188285, Loss on the last accepted step: 4359.218231000705, Step size: 0.1121988296508789
Loss on this step: 4359.218230376183, Loss on the last accepted step: 4359.2182308188285, Step size: 0.39269590377807617
Loss on this step: 4359.21822929761, Loss on the last accepted step: 4359.218230376183, Step size: 0.39269590377807617
Loss on this step: 4359.21822925663, Loss on the last accepted step: 4359.21822929761, Step size: 0.39269590377807617
Loss on this step: 4359.218229275025, Loss on the last accepted step: 4359.21822925663, Step size: 0.09817397594451904
Loss on this step: 4359.218229243382, Loss on the last accepted step: 4359.21822925663, Step size: 0.09817397594451904
Loss on this step: 4359.21822924053, Loss on the last accepted step: 4359.218229243382, Step size: 0.09817397594451904
Loss on this step: 4359.218229239383, Loss on the last accepted step: 4359.21822924053, Step size: 0.09817397594451904

2025-07-14 00:29:06,969 INFO jaxlogit.mixed_logit: Optimization finished, success = True, final loglike = -4359.22, final gradient max = 7.47e-05, norm = 6.75e-04.
2025-07-14 00:29:06,970 INFO jaxlogit.mixed_logit: Calculating gradient of individual log-likelihood contributions
2025-07-14 00:29:09,407 INFO jaxlogit.mixed_logit: Calculating H_inv
2025-07-14 00:29:13,737 INFO jaxlogit._choice_model: Post fit processing
2025-07-14 00:29:14,097 INFO jaxlogit._choice_model: Optimization terminated successfully.

    Message:
    Iterations: 60
    Function evaluations: 68
Estimation time= 22.7 seconds
---------------------------------------------------------------------------
Coefficient              Estimate      Std.Err.         z-val         P>|z|
---------------------------------------------------------------------------
ASC_CAR                 0.2831110     0.0560480     5.0512276       4.5e-07 ***
ASC_TRAIN              -0.5722733     0.0794778    -7.2004140      6.65e-13 ***
ASC_SM                  0.0000000     0.0000000           nan           nan
CO                     -1.6601666     0.0778870   -21.3150710      1.26e-97 ***
TT                     -3.2289976     0.1749805   -18.4534737      3.16e-74 ***
sd.TT                   3.6221628     0.1728452    20.9561137      1.58e-94 ***
---------------------------------------------------------------------------
Significance:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Log-Likelihood= -4359.218
AIC= 8728.436
BIC= 8762.536

## Error components with correlations

In [ ]:
varnames=['ASC_CAR', 'ASC_TRAIN', 'ASC_SM', 'CO', 'TT']

randvars={'ASC_CAR': 'n', 'ASC_TRAIN': 'n', 'ASC_SM': 'n'}
fixedvars = {
    'ASC_SM': 0.0, 'sd.ASC_TRAIN': 1.0, 'sd.ASC_CAR': 0.0,
    'chol.ASC_CAR.ASC_TRAIN': 0.0, 'chol.ASC_CAR.ASC_SM': 0.0
}  # Identification of error components, see J. Walker's PhD thesis (MIT 2001)
config = DataConfig()
model = MixedLogit()
res = model.fit(
    X=df[varnames],
    y=df['CHOICE'],
    varnames=varnames,
    alts=df['alt'],
    ids=df['custom_id'],
    avail=df['AV'],
    panels=df["ID"],
    randvars=randvars,
    n_draws=1500,
    fixedvars=fixedvars,
    include_correlations=True,  # Enable correlation between random parameters
)
model.summary()

2025-07-14 00:33:09,262 INFO jaxlogit.mixed_logit: Starting data preparation, including generation of 1500 random draws for each random variable and observation.
2025-07-14 00:33:10,084 INFO jaxlogit.mixed_logit: Data contains 752 panels, using segment_sum for panel-wise log-likelihood.
2025-07-14 00:33:10,085 INFO jaxlogit.mixed_logit: Shape of draws: (6768, 3, 1500), number of draws: 1500
2025-07-14 00:33:10,086 INFO jaxlogit.mixed_logit: Shape of Xdf: (6768, 2, 2), shape of Xdr: (6768, 2, 3)
2025-07-14 00:33:10,088 INFO jaxlogit.mixed_logit: Compiling log-likelihood function.
2025-07-14 00:33:10,695 INFO jaxlogit.mixed_logit: Compilation finished, init neg_loglike = 5613.90, params= [(np.str_('ASC_CAR'), Array(0.1, dtype=float64)), (np.str_('ASC_TRAIN'), Array(0.1, dtype=float64)), (np.str_('ASC_SM'), Array(0., dtype=float64)), (np.str_('CO'), Array(0.1, dtype=float64)), (np.str_('TT'), Array(0.1, dtype=float64)), (np.str_('sd.ASC_CAR'), Array(0., dtype=float64)), (np.str_('sd.ASC_TRAIN'), Array(1., dtype=float64)), (np.str_('sd.ASC_SM'), Array(0.1, dtype=float64)), (np.str_('chol.ASC_CAR.ASC_TRAIN'), Array(0., dtype=float64)), (np.str_('chol.ASC_CAR.ASC_SM'), Array(0., dtype=float64)), (np.str_('chol.ASC_TRAIN.ASC_SM'), Array(0.1, dtype=float64))]
2025-07-14 00:33:10,696 INFO jaxlogit._optimize: Running minimization with method trust-region

Loss on this step: 5613.900938455273, Loss on the last accepted step: 0.0, Step size: 1.0
Loss on this step: 173679.09013504253, Loss on the last accepted step: 5613.900938455273, Step size: 0.25
Loss on this step: 88430.18929743508, Loss on the last accepted step: 5613.900938455273, Step size: 0.0625
Loss on this step: 30602.666199833566, Loss on the last accepted step: 5613.900938455273, Step size: 0.015625
Loss on this step: 9426.075036749258, Loss on the last accepted step: 5613.900938455273, Step size: 0.00390625
Loss on this step: 4477.711460357415, Loss on the last accepted step: 5613.900938455273, Step size: 0.00390625
Loss on this step: 4232.214319932492, Loss on the last accepted step: 4477.711460357415, Step size: 0.00390625
Loss on this step: 4152.4597956549105, Loss on the last accepted step: 4232.214319932492, Step size: 0.00390625
Loss on this step: 4136.318184406516, Loss on the last accepted step: 4152.4597956549105, Step size: 0.013671875
Loss on this step: 4107.3625463782055, Loss on the last accepted step: 4136.318184406516, Step size: 0.013671875
Loss on this step: 4091.7357964524062, Loss on the last accepted step: 4107.3625463782055, Step size: 0.013671875
Loss on this step: 4088.386909477412, Loss on the last accepted step: 4091.7357964524062, Step size: 0.013671875
Loss on this step: 4085.263819797661, Loss on the last accepted step: 4088.386909477412, Step size: 0.013671875
Loss on this step: 4083.659819460593, Loss on the last accepted step: 4085.263819797661, Step size: 0.0478515625
Loss on this step: 4081.0771649807266, Loss on the last accepted step: 4083.659819460593, Step size: 0.0478515625
Loss on this step: 4071.66954801608, Loss on the last accepted step: 4081.0771649807266, Step size: 0.16748046875
Loss on this step: 4195.520808979151, Loss on the last accepted step: 4071.66954801608, Step size: 0.0418701171875
Loss on this step: 4082.1097228103545, Loss on the last accepted step: 4071.66954801608, Step size: 0.010467529296875
Loss on this step: 4071.4374293081596, Loss on the last accepted step: 4071.66954801608, Step size: 0.010467529296875
Loss on this step: 4070.8686879979477, Loss on the last accepted step: 4071.4374293081596, Step size: 0.010467529296875
Loss on this step: 4070.7415084936056, Loss on the last accepted step: 4070.8686879979477, Step size: 0.010467529296875
Loss on this step: 4070.6780338613635, Loss on the last accepted step: 4070.7415084936056, Step size: 0.010467529296875
Loss on this step: 4070.6461282752693, Loss on the last accepted step: 4070.6780338613635, Step size: 0.010467529296875
Loss on this step: 4070.626713359182, Loss on the last accepted step: 4070.6461282752693, Step size: 0.010467529296875
Loss on this step: 4070.614648150626, Loss on the last accepted step: 4070.626713359182, Step size: 0.0366363525390625
Loss on this step: 4070.5886433771598, Loss on the last accepted step: 4070.614648150626, Step size: 0.12822723388671875
Loss on this step: 4070.5572056494293, Loss on the last accepted step: 4070.5886433771598, Step size: 0.12822723388671875
Loss on this step: 4070.5766115601373, Loss on the last accepted step: 4070.5572056494293, Step size: 0.03205680847167969
Loss on this step: 4070.557000116686, Loss on the last accepted step: 4070.5572056494293, Step size: 0.03205680847167969
Loss on this step: 4070.5568389192995, Loss on the last accepted step: 4070.557000116686, Step size: 0.03205680847167969
Loss on this step: 4070.5567417950915, Loss on the last accepted step: 4070.5568389192995, Step size: 0.1121988296508789
Loss on this step: 4070.556654377333, Loss on the last accepted step: 4070.5567417950915, Step size: 0.1121988296508789
Loss on this step: 4070.55667506802, Loss on the last accepted step: 4070.556654377333, Step size: 0.028049707412719727
Loss on this step: 4070.556652658449, Loss on the last accepted step: 4070.556654377333, Step size: 0.028049707412719727
Loss on this step: 4070.556652198438, Loss on the last accepted step: 4070.556652658449, Step size: 0.028049707412719727
Loss on this step: 4070.556652057649, Loss on the last accepted step: 4070.556652198438, Step size: 0.028049707412719727
Loss on this step: 4070.556652009143, Loss on the last accepted step: 4070.556652057649, Step size: 0.09817397594451904
Loss on this step: 4070.556651905359, Loss on the last accepted step: 4070.556652009143, Step size: 0.34360891580581665
Loss on this step: 4070.5566516646004, Loss on the last accepted step: 4070.556651905359, Step size: 1.2026312053203583
Loss on this step: 4070.556651899012, Loss on the last accepted step: 4070.5566516646004, Step size: 0.30065780133008957
Loss on this step: 4070.5566515868863, Loss on the last accepted step: 4070.5566516646004, Step size: 1.0523023046553135
Loss on this step: 4070.5566516619856, Loss on the last accepted step: 4070.5566515868863, Step size: 0.2630755761638284
Loss on this step: 4070.5566515814044, Loss on the last accepted step: 4070.5566515868863, Step size: 0.2630755761638284
Loss on this step: 4070.556651614391, Loss on the last accepted step: 4070.5566515814044, Step size: 0.0657688940409571
Loss on this step: 4070.556651573802, Loss on the last accepted step: 4070.5566515814044, Step size: 0.0657688940409571
Loss on this step: 4070.55665157303, Loss on the last accepted step: 4070.556651573802, Step size: 0.0657688940409571
Loss on this step: 4070.5566515717396, Loss on the last accepted step: 4070.55665157303, Step size: 0.0657688940409571
Loss on this step: 4070.5566515714822, Loss on the last accepted step: 4070.5566515717396, Step size: 0.0657688940409571

2025-07-14 00:33:39,250 INFO jaxlogit.mixed_logit: Optimization finished, success = True, final loglike = -4070.56, final gradient max = 1.49e-04, norm = 1.98e-04.
2025-07-14 00:33:39,251 INFO jaxlogit.mixed_logit: Calculating gradient of individual log-likelihood contributions
2025-07-14 00:33:49,715 INFO jaxlogit.mixed_logit: Calculating H_inv
2025-07-14 00:34:06,117 INFO jaxlogit._choice_model: Post fit processing
2025-07-14 00:34:06,250 INFO jaxlogit._choice_model: Optimization terminated successfully.

    Message:
    Iterations: 37
    Function evaluations: 48
Estimation time= 57.0 seconds
---------------------------------------------------------------------------
Coefficient              Estimate      Std.Err.         z-val         P>|z|
---------------------------------------------------------------------------
ASC_CAR                -0.2273947     0.1253061    -1.8147135        0.0696 .
ASC_TRAIN              -1.1971285     0.1388613    -8.6210391      8.17e-18 ***
ASC_SM                  0.0000000     0.0000000           nan           nan
CO                     -2.0499603     0.1085217   -18.8898662      1.33e-77 ***
TT                     -2.1520675     0.1045618   -20.5817736      2.39e-91 ***
sd.ASC_CAR              0.0000000     0.0000000           nan           nan
sd.ASC_TRAIN            1.0000000     0.0000000           inf             0 ***
sd.ASC_SM               2.5200232     0.1346184    18.7197506      2.81e-76 ***
chol.ASC_CAR.ASC_TR     0.0000000     0.0000000           nan           nan
chol.ASC_CAR.ASC_SM     0.0000000     0.0000000           nan           nan
chol.ASC_TRAIN.ASC_     0.7362153     0.1501450     4.9033635      9.64e-07 ***
---------------------------------------------------------------------------
Significance:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Log-Likelihood= -4070.557
AIC= 8153.113
BIC= 8194.033